Flask>=2.2.0                # Web framework
Flask-SQLAlchemy>=3.0.0        # SQLAlchemy for Flask
Flask-Migrate==3.1.0           # Database migrations
#mysqlclient==2.1.0             # MySQL client for SQLAlchemy (for MySQL database)
# Alternatively, use pymysql if mysqlclient doesn't work on your system
PyMySQL==1.0.2               # MySQL client (pure Python)

requests==2.27.1               # HTTP requests
google-auth==2.3.3             # Google OAuth
google-auth-oauthlib==0.4.6    # OAuthlib for Google
google-auth-httplib2==0.1.0    # HTTP client for Google APIs
google-api-python-client==2.29.0 # Google API client

openai==0.8.0                  # OpenAI API (for ChatGPT integration)

msal==1.16.0                   # Microsoft Authentication Library (MSAL for Microsoft Auth)
Flask-JWT-Extended==4.3.1      # JWT authentication for users


Werkzeug>=2.2.0
SQLAlchemy>=1.4.0
