body {
    --background-color: #d3d3d3;
    --secondary-background-color: #adadad;

    --text-color: #000000;
    --text-color-hover: #3c3c3c;
    --secondary-text-color: #000;

    --icon-help-background-color: #146350;
    --icon-help-background-color-hover: #63a393;
    --icon-help-color: #D9D9D9;
    --icon-help-color-hover: #000;
    --icon-menu-background-color: #a292d7;
    --icon-menu-color: #000;
    --icon-send-background-color: #6D4E85;
    --icon-send-background-color-hover: #a292d7;
    --icon-send-color: #D9D9D9;
    --icon-send-color-hover: #000;

    --button-background-color: #999999;
    --button-background-color-hover: #999999;
    --button-text-color: #000;
    --button-icon-send-background-color: #848484;
    --button-icon-send-background-color-hover: #3c3c3c;
    --button-icon-send-color: #D9D9D9;
    --button-icon-send-color-hover: #000;
    
    --message-background-color: rgba(186, 186, 186, 0.5);
    --border-color: #999999;

    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0;

    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 24px;
}

body.dark-mode{
    --background-color: #3A3A3A;
    --secondary-background-color: #272626;

    --text-color: #D9D9D9;
    --text-color-hover: #999999;
    --secondary-text-color: #000;

    --icon-help-background-color: #146350;
    --icon-help-background-color-hover: #A0CCC1;
    --icon-help-color: #D9D9D9;
    --icon-help-color-hover: #000;
    --icon-menu-background-color: #D2C3FE;
    --icon-menu-color: #000;
    --icon-send-background-color: #6D4E85;
    --icon-send-background-color-hover: #D2C3FE;
    --icon-send-color: #D9D9D9;
    --icon-send-color-hover: #000;

    --button-background-color: #D9D9D9;
    --button-background-color-hover: #999999;
    --button-text-color: #000;
    --button-icon-send-background-color: #272626;
    --button-icon-send-background-color-hover: #848484;
    --button-icon-send-color: #D9D9D9;
    --button-icon-send-color-hover: #000;

    --message-background-color: rgba(217, 217, 217, 0.5);
    --border-color: #D9D9D9;
}

/* Default Styles */

.container {
    display: flex;
    height: 100vh;
    width: 100%;
    justify-content: flex-end;
}

.filler {
    flex: 1;
}

input {
    all:unset;
    font-size: 24px;
    background-color: transparent;
    border: 2px solid #D9D9D9;
    padding: 10px 10px 10px 25px;
    margin: 20px;
    border-radius: 25px;
}

input::placeholder{
    all:unset;
    color: var(--text-color);
}

button {
    all: unset;
    background-color: var(--button-background-color);
    color: var(--button-text-color);
    font-size: 24px;
    border-radius: 25px;
    padding: 10px;
    margin: 10px;
}

button:hover, button.on{
    background-color: var(--button-background-color-hover);
}

a, a:visited {
    color: var(--text-color);
}

a:hover {
    color: var(--text-color-hover);
}

textarea {
    all: unset;
    font-size: 24px;
    background-color: var(--background-color);
    border: 2px solid var(--border-color);
    padding: 15px 25px;
    margin: 20px;
    border-radius: 25px;
    width: 100%; 
    box-sizing: border-box;
    max-height: 60px;
    white-space: pre-wrap;
    word-wrap: break-word;
    /*backdrop-filter: blur(5px);*/
}

textarea::placeholder {
    all: unset;
    text-align: start;
    color: var(--text-color);
}

h1 {
    all: unset;
    font-weight: bold;
    font-size: 48px;
}


/* icon default settings */
div.icon {
    width: 40px; 
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    aspect-ratio: 1 / 1;
}

/* icon help */
div.icon.help {
    background-color: var(--icon-help-background-color);
    & svg {
        fill: var(--icon-help-color);
    }
}

div.icon.help:hover{
    background-color: var(--icon-help-background-color-hover);

    & svg {
        fill: var(--icon-help-color-hover);
    }
}

/* icon menu */
div.icon.menu {
    background-color: var(--icon-menu-background-color);
    position: fixed;
    top: 0;
    right: 0;

    & svg {
        fill: var(--icon-menu-color);
    }
}

/* icon button */
div.icon.button {
    background-color: var(--button-icon-send-background-color);
    margin: 0px;

    & svg {
        fill: var(--button-icon-send-color);
    }
}

button:hover div.icon.button, button.on div.icon.button {
    background-color: var(--button-icon-send-background-color-hover);

    & svg {
        fill: var(--button-icon-send-color-hover);
    }
}

/* icon send */
div.icon.send {
    background-color: var(--icon-send-background-color);

    & svg {
        fill: var(--icon-send-color);
    }
}

div.icon.send:hover, button:hover div.icon.send{
    background-color: var(--icon-send-background-color-hover);
    transform: rotate(-90deg);
    transition-duration: 300ms;

    & svg {
        fill: var(--icon-send-color-hover);
    }
}

/* icon logo */
div.icon.logo {
    background-color: var(--icon-help-background-color);

    & svg {
        fill: var(--icon-help-color);
    }
}

/* Sidebar */

div.sidebar {
    --button-background-color: var(--background-color);

    background-color: var(--secondary-background-color);
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 20%;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;

    & .button_collection{
        margin-top: 30%;
        display: flex;
        flex-direction: column;
        gap: 20px;

        & button {
            display: flex;
            align-items: center;
            justify-content: space-between;
            color: var(--text-color);
            -webkit-box-shadow: 0px 10px 17px -7px rgba(0,0,0,0.75);
            -moz-box-shadow: 0px 10px 17px -7px rgba(0,0,0,0.75);
            box-shadow: 0px 10px 17px -7px rgba(0,0,0,0.75);
            padding-left: 30px;
        }

        & button:hover, button.on {
            color: var(--secondary-text-color);
        }
        
    }

    & .icon.help {
        align-self: center;
        margin-bottom: 20%;
    }
}

/* Chat - main */
div.chat {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    & .icon.menu {
        align-self: flex-end;
        margin:2% 2% 0px 0px;
    }

    & button {
        all: unset;
    }

    & .prompt.inputfield {
        display: flex;
        justify-content: center;
        align-content: center;
        align-self: center;
        margin-bottom: 2%;
        position: fixed;
        bottom: 0;
        left: 0;
        margin-left: 33%;
        width: 60%;
    }

    & textarea {
        width: 75%;
        margin-left: 0px;
        margin-right: 0px;
    }

    & .messages{
        color: var(--secondary-text-color);
        display: flex;
        flex-direction: column;
        margin-top: 5%;
        height: 100%;
        margin-right: 10%;
        margin-left: 10%;

        & p {
            background-color: var(--message-background-color);
            padding: 20px;
            margin: 20px;
            border-radius: 25px;
            display:inline-block;
            text-wrap: wrap;
            max-width: 60%;
            line-height: 35px;
        }

        & .prompt {
            align-self: flex-end;
        }

        & .icon.logo {
            margin: 0px 20px;
        }

        & .answer_container {
            display: flex;
            flex-direction: column;
        }

        & .answer_container:last-of-type p {
            margin-bottom: 20%;
        }
    }
}

/* Login Styles */

.login.container {
    flex: 1;
    background-color: var(--secondary-background-color);
    align-items: center;
    flex-direction: column;
    border-radius: 25px;
    height: 75%;
    align-self: center;

    & h1 {
        margin: 60px 0px 50px 0px;
    }

    & form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    & button {
        width: 230px;
        text-align: center;
        margin-top: 50px;
        margin-bottom: 60px;
    }

    & input {
        width: 400px;
        margin-left: 60px;
        margin-right: 60px;
    }

}

.filler:has(.icon.help){
    /*display: flex;
    justify-content: flex-end;*/
    & .icon.help {
        position: fixed;
        top: 0;
        right: 0;
        margin: 2% 7% 0px 0px; 
    }
}

/* Help Styles */
body.help {
    display: flex;
    flex-direction: column;
    width: 100%;

    & div.chat.help {
        width: 100%;
    }

    & .button_like_link{
        background-color: var(--button-background-color);
        color: var(--button-text-color) !important;
        font-size: 24px;
        border-radius: 25px;
        padding: 10px 30px;
        margin: 10px;
    }
    
    & .button_like_link:hover {
        background-color: var(--button-background-color-hover);
    }

    & .further_info {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    & .end {
        margin-bottom: 5%;
        margin-top: -5%;
    }

    & .begin {
        margin-top: 5%;
    }
}

/* Menu Styles */

#menu_container {
    & .overlay {
        background-color: var(--secondary-background-color);
        padding: 5% 5% 2% 5%;
    }
}
#menu_container:not(.open){
    & .overlay {
        display: none;
    }
}

#menu_container.open {
    & div.icon.menu{
        transform: rotate(90deg);
        transition-duration: 300ms;
    }

    & .overlay {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    
}

label#darkmode-toggle {
	width: 150px;
	height: 60px;
	position: relative;
	display: block;
	background: #ebebeb;
	border-radius: 60px;
	box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.4),
		inset 0px -5px 15px rgba(255, 255, 255, 0.4);
	cursor: pointer;
	transition: 0.3s;
	&:after {
		content: "";
		width: 50px;
		height: 50px;
		position: absolute;
		top: 5px;
		left: 5px;
		background: linear-gradient(180deg, #ffcc89, #d8860b);
		border-radius: 40px;
		box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
		transition: 0.3s;
	}
	svg {
		position: absolute;
		width: 40px;
		top: 40px;
		z-index: 100;
		&.sun {
			left: 10px;
            top: 10px;
			fill: #fff;
			transition: 0.3s;
		}
		&.moon {
			left: 100px;
            top: 10px;
			fill: #7e7e7e;
			transition: 0.3s;
		}
	}
}

input#darkmode-toggle {
	width: 0;
	height: 0;
	visibility: hidden;
	&:checked + label {
		background: #242424;
		&:after {
			left: 145px;
			transform: translateX(-100%);
			background: linear-gradient(180deg, #777, #3a3a3a);
		}
		svg {
			&.sun {
				fill: #7e7e7e;
			}
			&.moon {
				fill: #fff;
			}
		}
	}
	&:active:after {
		width: 260px;
	}
}
