<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/default.css') }}">
    <link rel="icon" type="svg" href="{{ url_for('static', filename='img/login.svg') }}">
    <title>AI Tutor - Welcome</title>
    <script src="https://accounts.google.com/gsi/client" async defer></script>
</head>

<body>
    <div class="container">
        <div class="filler"></div>
        <div class="welcome-container">
            <h1>Welcome to AI Tutor!</h1>
            <p>
                Welcome to the experiment! Your task is to use this page before, during, and after answering 10 LSAT questions. 
                Participation in this study is voluntary, and your personal data will not be collected or analyzed. 
                As the first step, please begin by interacting with the Planning module to create your study plan.
            </p>
            <div class="buttons">
                <button class="welcome-tutorial-button" onclick="window.location.href='/chatgpt/tutorial'">
                    <div class="button-content">
                        Start with a tutorial
                    </div>
                </button>
                <button class="welcome-start-button" onclick="window.location.href='/chatgpt/chatscreen'">
                    <div class="button-content">
                        Start with planning
                    </div>
                </button>
            </div>
        </div>
        <div class="filler"></div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/markdown-it@12.3.2/dist/markdown-it.min.js"></script>
    <script type="module" src="{{ url_for('static', filename='js/postMessages.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='js/help.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='js/generalEvents.js') }}"></script>
</body>

</html>
